<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Libreria Fontawesome-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- Estilos propios-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">

    <title>Login</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.</h2>
            </div>
        </div>
        <nav class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a> </li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <form action="/" method="get">
            
            <div class="container-form-login">
                <div>
                    <input type="text" placeholder="Nombre de Usuario">
                </div>
                <div>
                    <input type="password" placeholder="Escriba su Contraseña">
                </div>
                <div>
                    <a href="/"><button type="submit">Enviar</button></a>
                </div>
            </div>
        </form>



    </main>

    <footer>
        <div class="container-footer">
            <section>
                <div class="item-container">                   
                    <i class="fas fa-credit-card"></i>
                </div>
    
                <div class="footer-title">Pagá con tarjeta o en efectivo</div>
                <p class="footer-text">Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="item-container">
                    <i class="fas fa-gift"></i>
                </div>
    
                <div class="footer-title">Envío gratis desde $ 2.500</div>
                <p class="footer-text">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
            </section>
            <section>
                <div class="item-container">                   
                    <i class="fas fa-user-shield"></i>
                </div>
    
                <div class="footer-title">Seguridad, de principio a fin</div>
                <p class="footer-text">¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
            <section>
                <p class="copyright-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
    </footer>
</body>

</html>