* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--grisClaro);
}

a {
    text-decoration: none;
    color: var(--negro);
}

ul {
    list-style: none;
    padding: 0;
}

section {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
}

img {
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* **** HEADER **** */

header {
    /* border: 3px solid green; */
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
}

.logo-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

.menu-container {
    /* border: 3px solid red; */
    display: none;
}

.burger-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}

.logo-bar-container {
    /* border: 3px solid gray; */
    display: flex;
}

.card-container {
    /* border: 3px solid gray; */
    padding: 15px;
}

.logo {
    /* border: 3px solid pink; */
    width: 50%;
    padding: 10px;
}

.search-button-container {
    /* border: 3px solid pink; */
    display: flex;
    width: 50%;
    /* justify-content: center; */
    align-items: center;
}

.search-container {
    /* border: 3px solid brown; */
    display: flex;
    height: 25px;
    width: 90%;
}

.card-title {
    font-weight: 400;
    text-align: center;
}

.card-title i {
    margin-right: 10px;
}

input {
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}

button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.burger-menu {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
}

/* ** FIN HEADER ** */

/* **** MAIN **** */

main {
    background: var(gris);
    width: 90%;
    margin: auto;
}

.productos-container h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



.truck {
    display: flex;
    /* border: 3px solid black; */
    justify-content: end;
    width: 95%;
}

.truck i {
    display: flex;
    color: var(--verde);
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
}

.precio-descuento-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.precio {
    padding-left: 20px;
    font-size: 18px;
    width: 30%;
    justify-content: center;
}

.descuento {
    color: var(--verde);
    font-size: 16px;
    width: 70%;
    justify-content: center;
}

.nombre-producto {
    padding-top: 15px;
    padding-left: 20px ;
    color: var(--grisOscuro);
    font-weight: bold;
    display: none;
}

.productos-container article {
    padding-bottom: 25px;
    background-color: white;
}

/* ** FIN MAIN ** */

/* **** FOOTER **** */

footer {
    padding-top: 38px;
    margin-top: 15px;
    background-color: white;
}

.item-container {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: var(--celeste);
    padding-bottom: 10px;
}

.footer-title {
    text-align: center;
    color: var(--grisOscuro);
    font-weight: bold;
}

.footer-text {
    text-align: center;
    color: var(--grisOscuro);
    font-size: 12px;
    padding-bottom: 25px;
}

.container-footer {
    padding-left: 18px;
    padding-right: 18px;
}

.copyright-text{
    color: var(--grisOscuro);
    font-size: 12px;

}

/* ** FIN FOOTER ** */

/* **** FORMULARIOS LOGIN **** */

form input {
    height: 30px;
    width: 95%;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.container-form-login {
    text-align: center;
}

form button {
    width: 95%;
    height: 30px;
    border: none;
    background-color: var(--celeste);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

/* ** FIN FORMULARIOS LOGIN ** */

/* **** FORMULARIOS REGISTER **** */
.abc {
    height: 20px;
    width: 5%;
    margin: 10px;
}

.abcd {
    height: 20px;
    width: 5%;
    margin-right: 10px;
}

.comprador-vendedor {
    width: 80%;
    text-align: center;
}

.label-color {
    font-weight: bold;
}

.interes {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container-form-register-input {
    text-align: center;
}

.container-form-register-input2 {
    text-align: center;
}

#fdn {
    text-align: left;
    margin-left: 10px;
}

.button-register {
    text-align: center;
}

.button-register button {
    height: 50px;
}

.button-register2 {
    text-align: center;
    margin-top: 15px;
}

.button-register2 button {
    height: 50px;
}

.user-password {
    text-align: center;
}


/* ** FIN FORMULARIOS REGISTER ** */